<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" href="flexbox-page.css">
    <meta charset="utf-8">
    <title>Imágenes flexbox</title>
  </head>

  <body>
    <div class="container">
      <div class="flex-catalog">

        <div class="flex-row">
          <div class="flex-image">
            <img src="fotos/22m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/23m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/24m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/25m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/15m.jpg">
          </div>
        </div>

        <div class="flex-row">
          <div class="flex-image large">
            <img src="fotos/17l.jpg">
          </div>
        </div>

        <div class="flex-row">
          <div class="flex-image">
            <img src="fotos/27m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/28m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/26m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/30m.jpg">
          </div>
          <div class="flex-image">
            <img src="fotos/31m.jpg">
          </div>
        </div>
      </div>
    </div>
  </body>

</html>